/* GERAL */
a {
  color: #333;
}

a:hover {
  color: #111;
}

a:click {
  color: #000;
}
/* GERAL */

/** START NAVBAR */

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #444;
}

/** END NAVBAR */

/** OCULTAR RECAPTHCA */
.grecaptcha-badge {
    display: none;
}
/** END OCULTAR RECAPTHCA */

/** START HEADER VIDEO */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(105vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/** END HEADER VIDEO */

/** Página 404 */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/bg-404.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/** END Página 404 */

/* ZOOM HOVER */

.zoom-in {
  transition: transform .2s; /* Animation */
}

.zoom-in:hover {
  transform: scale(1.1);
}

/* END ZOOM HOVER */